body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6eefc;
}
header {
    background-color: #3ab3b3;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #444;
}
nav a {
    color: #fff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    background-color: #555;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.videos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #9dccf8;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.video {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video img {
    max-width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.video h3 {
    margin: 10px 0;
}
.video p {
    text-align: center;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}